<header
  class="border-b border-white/5 bg-slate-950/60 backdrop-blur-md sticky top-0 z-40 px-6 py-4 flex flex-wrap items-center justify-between gap-4">
  <button (click)="goToHome()" class="flex items-center gap-3">
    <div
      class="h-10 w-10 flex items-center justify-center rounded-xl bg-orange-500 text-white font-black text-2xl shadow-[0_0_15px_rgba(249,115,22,0.4)]">
      DB
    </div>
    <div>
      <h1
        class="text-xl font-extrabold tracking-wider bg-linear-to-r from-orange-500 to-yellow-400 bg-clip-text text-transparent uppercase">
        Dragon Ball Explorer
      </h1>
      <p class="text-[10px] text-slate-400 uppercase tracking-widest font-medium">Angular 21 + Signals + Tailwind v4
      </p>
    </div>
  </button>
</header>
